/bin/
/build/
/dev-resources/
/lib/tests/resources/test_spool/
/lib/tests/resources/cache_dir/
/lib/tests/resources/scripts_cache/FAILINGSHA256
/lib/tests/resources/scripts_cache/SCRIPT_FAILING_SHA
/lib/tests/resources/tmp/
/lib/tests/resources/cache_dir/
.idea/
.DS_Store
/acceptance/junit
/acceptance/.beaker
/acceptance/sut-files.tgz
/Boltdir/inventory.yaml