[submodule "vendor/leatherman"]
	path = vendor/leatherman
	url = git@github.com:puppetlabs/leatherman.git
[submodule "vendor/cpp-pcp-client"]
	path = vendor/cpp-pcp-client
	url = git@github.com:puppetlabs/cpp-pcp-client.git
