sudo: required
services:
  - docker

before_install:
  - docker pull gcr.io/cpp-projects/cpp-ci:1

script:
  - >
    docker run -v `pwd`:/pxp-agent gcr.io/cpp-projects/cpp-ci:1 /bin/bash -c "
    wget https://github.com/puppetlabs/leatherman/releases/download/${LEATHERMAN_VERSION}/leatherman.tar.gz &&
    tar xzvf leatherman.tar.gz --strip 1 -C / &&
    wget https://github.com/puppetlabs/cpp-pcp-client/releases/download/${CPP_PCP_CLIENT_VERSION}/cpp-pcp-client.tar.gz &&
    tar xzvf cpp-pcp-client.tar.gz --strip 1 -C / &&
    wget https://github.com/puppetlabs/cpp-hocon/releases/download/${CPP_HOCON_VERSION}/cpp-hocon.tar.gz &&
    tar xzvf cpp-hocon.tar.gz --strip 1 -C / &&
    cd /pxp-agent &&
    cmake $EXTRA_VARS . &&
    mkdir dest &&
    make $TARGET DESTDIR=/pxp-agent/dest VERBOSE=1 -j2 &&
    { [[ '$COVERALLS' != 'ON' ]] || coveralls --gcov-options '\-lp' -r . -b . -e src -e vendor >/dev/null || true; }
    "

env:
  global:
    - LEATHERMAN_VERSION=1.4.2
    - CPP_PCP_CLIENT_VERSION=1.5.6
    - CPP_HOCON_VERSION=0.1.7
  matrix:
    - TARGET=cpplint
    - TARGET=cppcheck
    - TARGET="all test install ARGS=-V" EXTRA_VARS="-DBOOST_STATIC=ON"
    - TARGET="all test install ARGS=-V" EXTRA_VARS="-DBOOST_STATIC=ON -DCMAKE_BUILD_TYPE=Debug -DCOVERALLS=ON" COVERALLS=ON

notifications:
  email: false