[Unit]
Description=PCP Execution Protocol (PXP) Agent
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/pxp-agent
EnvironmentFile=-/etc/default/pxp-agent
ExecStart=/opt/puppetlabs/puppet/bin/pxp-agent $PXP_AGENT_OPTIONS --foreground

[Install]
WantedBy=multi-user.target
