#
# Local settings can be configured without being overwritten by package upgrades, for example
# if you want to increase pxp-agent open-files-limit to 10000,
# you need to increase systemd's LimitNOFILE setting, so create a file named
# "/etc/systemd/system/pxp-agent.service.d/limits.conf" containing:
# [Service]
# LimitNOFILE=10000
# You can confirm it worked by running systemctl daemon-reload
# then running systemctl show pxp-agent | grep LimitNOFILE
#
[Unit]
Description=PCP Execution Protocol (PXP) Agent
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/pxp-agent
EnvironmentFile=-/etc/default/pxp-agent
ExecStart=/opt/puppetlabs/puppet/bin/pxp-agent $PXP_AGENT_OPTIONS --foreground
KillMode=process

[Install]
WantedBy=multi-user.target
